## Funciones para leer datos del API:

In [ ]:
# import requests
# import pandas as pd

# def comprobar(metrica):
#     return metrica in ['temperatura', 'consumo', 'ocupacion', 'seguridad']

# def get_df(metrica):
#     if not comprobar(metrica):
#         raise ValueError("Métrica no válida: ['temperatura', 'consumo', 'ocupacion', 'seguridad']")
#     data = requests.get(f'http://localhost:8080/{metrica}')
#     df = pd.DataFrame(data.json())
#     return df.set_index('id')

from lector import get_datos

In [ ]:
a = {}
for i in ['temperatura', 'consumo', 'ocupacion', 'seguridad']:
    a[i] = get_datos(i)

In [19]:
a['consumo'].index.value_counts()

id
f3293c6cb50e    195
06477f31f288    195
e5b829e2925d    195
f13ee76b3201    194
fc4c192fb2be    194
479ddc1a6753    194
e18755dbfd22    194
Name: count, dtype: int64

In [20]:
a['consumo'].head()

,current,power_consumption,power_factor,timestamp,voltage
id,,,,,
f3293c6cb50e,11.31,7.73,0.78,2025-03-07 10:17:54,226.36
06477f31f288,8.68,5.16,0.74,2025-03-07 10:17:55,235.11
e5b829e2925d,6.76,9.73,0.6,2025-03-07 10:17:56,213.77
f13ee76b3201,10.6,9.64,0.53,2025-03-07 10:17:57,230.51
fc4c192fb2be,6.6,2.92,0.89,2025-03-07 10:17:57,218.16