## Funciones para leer datos del API:

In [21]:
import pandas as pd
from lector import get_datos

In [22]:
a = {}
for i in ['temperatura', 'consumo', 'ocupacion', 'seguridad']:
    a[i] = get_datos(i)

In [23]:
a['ocupacion'].index.value_counts()

id
b0194809c015    5
3093c98833d9    4
e6d01d8a8023    4
79726ea4dc16    4
c01fecadd642    4
23a48f7f420f    4
Name: count, dtype: int64

In [24]:
a['ocupacion'].head()

             dwell_time location movement occupancy            timestamp
id
b0194809c015         40   Zone-4    False        11  2025-03-07 13:09:49
3093c98833d9         17   Zone-3    False        30  2025-03-07 13:10:47
e6d01d8a8023         39   Zone-5     True        33  2025-03-07 13:10:47
79726ea4dc16         33   Zone-3    False        38  2025-03-07 13:10:48
c01fecadd642         25   Zone-5     True        26  2025-03-07 13:10:49

In [25]:
a['seguridad'].head()

             alert_level            alerts    status            timestamp
id
4d3740098cdc      medium   motion detected    active  2025-03-07 13:11:47
49165833e3b7      medium   motion detected  inactive  2025-03-07 13:11:48
1ae627ca53a0         low  abandoned object  inactive  2025-03-07 13:11:48
4d3740098cdc        high          no alert  inactive  2025-03-07 13:13:47
49165833e3b7        high   motion detected    active  2025-03-07 13:13:48

In [26]:
a['temperatura'].head()

             air_quality humidity temperature            timestamp
id
17922e51f0b0         low    65.79       30.08  2025-03-07 13:09:49
db3091894102         low    79.59        24.7  2025-03-07 13:10:17
f8da7611a923         low    52.53       30.65  2025-03-07 13:10:18
2830671d4ce4      medium    41.69       30.64  2025-03-07 13:10:18
17922e51f0b0         low    32.06       22.26  2025-03-07 13:10:19