## Funciones para leer datos del API:

In [88]:
import pandas as pd
from lector import get_datos

In [89]:
a = {}
for i in ['temperatura', 'consumo', 'ocupacion', 'seguridad']:
    a[i] = get_datos(i)

In [90]:
a['ocupacion'].index.value_counts()

id
0507b1d6113a    6
8fddc40a2e63    6
b9c65633af5c    6
264db542663c    6
413dcddfaab1    6
8db7a28ba0e6    5
Name: count, dtype: int64

In [91]:
a['ocupacion'].head()

             dwell_time location movement occupancy            timestamp
id
0507b1d6113a          7   Zone-3    False        18  2025-03-07 15:42:47
8fddc40a2e63         38   Zone-4    False         5  2025-03-07 15:42:47
b9c65633af5c         35   Zone-4     True        24  2025-03-07 15:42:48
8db7a28ba0e6         10   Zone-3    False        31  2025-03-07 15:42:48
264db542663c         31   Zone-2     True        17  2025-03-07 15:42:48

In [92]:
a['seguridad'].head()

             alert_level            alerts    status            timestamp
id
ef82b0a6a6f7         low          no alert  inactive  2025-03-07 15:42:47
51cadd6beabe        high          no alert  inactive  2025-03-07 15:42:47
2aedb70c66f2      medium          no alert  inactive  2025-03-07 15:42:48
ef82b0a6a6f7      medium  abandoned object    active  2025-03-07 15:44:47
51cadd6beabe      medium  abandoned object    active  2025-03-07 15:44:47

In [93]:
a['temperatura'].head()

             air_quality humidity temperature            timestamp
id
1418d916bc5a      medium    75.19       20.57  2025-03-07 15:42:47
0579f7a9d52b      medium    31.51       34.15  2025-03-07 15:42:47
ef1a3603b8f2      medium    79.11       17.62  2025-03-07 15:42:48
d16f51712daf      medium     55.3       34.52  2025-03-07 15:42:48
1418d916bc5a         low    59.76       18.54  2025-03-07 15:43:17

In [94]:
a['consumo'].head()

,current,power_consumption,power_factor,timestamp,voltage
id,,,,,
a5faff2e4fd8,1.13,9.08,0.81,2025-03-07 15:42:47,228.5
0d97dbb0cd66,7.81,3.28,0.94,2025-03-07 15:42:47,231.54
a0f928a166f3,2.38,8.72,0.56,2025-03-07 15:42:48,213.67
fddac9632190,11.79,2.81,0.7,2025-03-07 15:42:48,219.39
2cfeb252bfe1,12.09,3.27,0.58,2025-03-07 15:42:48,239.24

In [95]:
for i in a.keys():
    print(i,':',a[i].shape)

temperatura : (47, 4)
consumo : (469, 5)
ocupacion : (35, 5)
seguridad : (9, 4)