## Funciones para leer datos del API:

In [9]:
import pandas as pd
from lector import get_datos

In [10]:
a = {}
for i in ['temperatura', 'consumo', 'ocupacion', 'seguridad']:
    a[i] = get_datos(i)

In [11]:
a['consumo'].index.value_counts()

id
ee94b5b1485a    52
ea1bf28d9aaa    52
a1e885bf935a    51
2c3d03fdaaf5    51
dab0b47c6643    51
3c9804620388    51
d4fa2622b7da    51
Name: count, dtype: int64

In [12]:
a['ocupacion'].head()

             dwell_time location movement occupancy            timestamp
id
3d0ecea59d92        100   Zone-2     True        21  2025-03-07 11:52:31
2cb0398f3365         74   Zone-4    False        15  2025-03-07 11:52:31
10d162a718fa        107   Zone-4    False        50  2025-03-07 11:52:32
ddd6d38d554c         76   Zone-5     True        29  2025-03-07 11:52:32
8fa27e61620b         80   Zone-1     True        15  2025-03-07 11:52:33