## Funciones para leer datos del API:

In [5]:
import pandas as pd
from lector import get_datos

In [6]:
a = {}
for i in ['temperatura', 'consumo', 'ocupacion', 'seguridad']:
    a[i] = get_datos(i)

In [3]:
a['consumo'].index.value_counts()

id
c7220ce2b945    6
07befca19ad0    6
f10c2188ebee    6
728c3f7e8f62    5
3540133f1748    5
434ab0790d0a    5
88aeea3dc9d3    5
Name: count, dtype: int64

In [8]:
a['ocupacion'].head()

             dwell_time location movement occupancy            timestamp
id
3d0ecea59d92         33   Zone-5     True        12  2025-03-07 11:23:31
2cb0398f3365         98   Zone-1    False        20  2025-03-07 11:23:32
10d162a718fa         79   Zone-4     True         2  2025-03-07 11:23:32
ddd6d38d554c         96   Zone-4     True        15  2025-03-07 11:23:33
8fa27e61620b         31   Zone-5     True        47  2025-03-07 11:23:33